*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-image: url(images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: white;
}


img{
    width: 100px;
    height: 100px;
    float: left;
    padding-top: 0%;
    margin-left: 70px;
}


.title ol{
    display: inline-block;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 200px;
    text-align: center;
    color: rgb(0, 0, 0);
    filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.2));
}

.title ol a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.3s;
}

.title ol a::after{
    content: '';
    transition: 0.3s linear;
    width: 0;
    height: 2px;
    display: block;
}

.title ol a:hover::after{
    width: 100%;
    background-color: rgb(255, 255, 44);
    color: rgb(255, 255, 44);
    
}
.title ol a:hover{
    color: rgb(255, 255, 44);
}



.ni{
    margin-top: 5000px;
}


.line {
  height: 2px;
  background-color: yellow;
  width: 100%;
  margin-top: 35px;
  box-shadow:  0 3px 5px rgba(0, 0, 0, 0.2);
}


.main{
    margin-left: 350px;
    margin-top: 150px;
    justify-content: space-around;
    align-items: center;
}


.main h1{
    font-size: 40px;
    margin-bottom: 20px;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.main span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 44);
    font-size: 45px;   
}

section{
    width: 100%;
    height: 100%;
    background-color: rgb(245, 245, 245);
    

}
.flavors h1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 507px;
    color: rgb(227, 227, 0);
    font-size: 50px;
}

.kl{
    margin-top: 5000px;
}


.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    padding: 20px;
}

.menu1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 70px;
}

.menu1 div img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50px;
    transition: 0.5s;
}

.menu1 div img:hover{
    transform: translate(0px,-20px);
    transition: 0.5s;
}


.menu1 h2{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 40px;
}
.menu1 h3{
    font-size: 30px;
    margin-left: 35px;
    transition: 0.4s;
}
.menu1 h3:hover{
    color: rgb(187, 187, 8);
    cursor: pointer;

}

.section2{
    width: 100%;
    height: 100%;
    background-color: rgb(245, 245, 245);

}

.desserts h1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(227, 227, 0);
    font-size: 45px;
    margin-top: 30px;
    
}
.grid2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    padding: 20px;
}


.menu2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 70px;
}
.menu2 div img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50px;
    transition: 0.5s;
}

.menu2 div img:hover{
    transform: translate(0px,-20px);
    transition: 0.5s;
}

.menu2 h2{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 40px;
}

.menu2 h3{
    font-size: 30px;
    margin-left: 35px;
    transition: 0.4s;
}

.menu2 h3:hover{
    color: rgb(187, 187, 8);
    cursor: pointer;
}

.about h1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(227, 227, 0);
    margin-top: 100px;
    font-size: 45px;
}


.about p{
    height: 400px;
    width: 1200px;
    margin-left: 180px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}


.footer{
    width: 100%;
    padding-left: 90px;
    padding-right: 90px;
    background: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
}

.footer .footer_main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.footer .footer_main .footer_tag{
    text-align: center;
}
.footer .footer_main .footer_tag h2{
    color: #000;
    margin-bottom: 25px;
    font-size: 30px;
}

.footer .footer_main .footer_tag p{
    margin: 10px 0;
}
.footer .footer_main .footer_tag p:hover{
    color: rgb(187, 187, 8);
    cursor: pointer;
}
.footer .footer_main .footer_tag i{
    margin: 0 5px;
    cursor: pointer;
}

.footer .footer_main .footer_tag a{
    color: black;
    text-decoration: none;
}


.footer .footer_main .footer_tag a:hover{
    color: rgb(187, 187, 8);
}
.footer .footer_main .footer_tag i:hover{
    color: rgb(187, 187, 8);
}